&__header {
    position: relative;
    height: 300px;
    background-color: $pt-content-card-header-background;
    color: $pt-content-card-background;

    &__background {
        position: absolute;
        fill: $pt-content-card-background;
        bottom: -1px;
        width: 100%;
        height: 3vw;
    }

    &__image {
        img {
            border-radius: 50%;
            max-height: 130px;
        }
        @include  transition_come-in(1);
    }

    &__title-name,
    &__title-desc {
        text-transform: uppercase;
        font-weight: 300;
        @include  transition_come-in(2);
    }

    &__title-desc { opacity: .7; }
}
