&__body {
    flex: 1;
    background-color: var(--pt-content-card-background);

    &__icons {
        flex: 3;
        color: #263238;

        p {
            text-transform: uppercase;
        }

        svg {
            width: 100px;
        }
    }

    &__social-icons {
        flex: 1;

        &__icon {
            svg {
                width: 28px;
                
                &:not(:hover) {
                    fill: #263238!important;
                }
            }

            &:not(:last-child) {
                margin-right: calc(var(--base-pm) * 2);
            }
        }
    }

    @import 'work/work-filters';
    @import 'work/work-items';
}