.pt-content-card {
    width: 100%;
    height: 100%;
    max-width: var(--pt-content-card-max-width);
    max-height: var(--pt-content-card-max-height);
    background-color: var(--pt-content-card-background);
    border-radius: var(--base-br);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    &__header {
        position: relative;
        height: 300px;
        background-color: var(--pt-content-card-header-background);
        color: var(--pt-content-card-background);

        &__background {
            position: absolute;
            fill: var(--pt-content-card-background);
            bottom: 0;
            width: 100%;
            height: 3vw;
        }

        &__image {
            img {
                border-radius: 50%;
                max-height: 130px;
            }
        }

        &__title-name,
        &__title-desc {
            text-transform: uppercase;
            font-weight: 300;
        }

        &__title-desc {
            opacity: .7;
        }
    }

    &__body {
        flex: 1;

        &__icons {
            flex: 3;
            color: #263238;

            p {
                text-transform: uppercase;
            }

            svg {
                width: 120px;
            }
        }

        &__social-icons {
            flex: 1;

            &__icon {
                
                color: #263238;

                svg {
                    width: 28px;
                }

                &:not(:last-child) {
                    margin-right: calc(var(--base-pm) * 2);
                }
            }
        }
    }
}