@media (min-width: 1250px) {
    .pt-content-card { overflow: hidden; }
}

@media (max-width: 1250px) {
    .pt-content-card { max-height: none; }

    .pt-content-card__body__work-items {
        display: flex;
        align-items: center;
    }

    .pt-content-card__body__work-items__item { max-width: none; }

    .pt-content-card__body__work-items__item__buttons a {
        width: 100%;
        min-width: 100px;
    }

    .pt-content-card__body__work-items__item__image {
        flex: .7;
    }
}

@media (max-width: 900px) {
    .pt-content-card__body__contact { flex-direction: column; }

    .pt-content-card__body__contact__social,
    .pt-content-card__body__contact__form { flex: initial; }

    .pt-content-card__header--nav {
        position: fixed;
        width: 100%;
    }

    .pt-content-card__body__contact,
    .pt-content-card__body__work,
    .pt-content-card__body__about { margin-top: $base-pm * 8; }

    .pt-content-card__home-container--home { height: 100vh; }

    .toast-notification {
        width: 100%!important;
        margin: 0!important;
        bottom: 0px!important;

        span {
            display: inline-block!important;
            width: 100vw!important;
            border-radius: 0!important;
        }
    }
}

@media (max-width: 700px) {
    .md__checkbox label { padding: $base-pm $base-pm * 4; }

    .pt-content-card__header--nav {
        button { display: flex; }
    }

    .pt-content-card__body__work-filters {
        & > p {
            position: fixed;
            width: 100%;
        }

        position: fixed;
        transform: translateX(-100vw);
        pointer-events: none;
        top: 0;
        left: 0;
        box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.23);
        z-index: 210;
        transition: transform .3s;

        button { display: flex; }

        &.filters-open {
            pointer-events: initial;
            transform: translateX(0);
        }

        &__list {
            padding: $base-pm 0;
            margin-top: 64px;
            overflow-y: scroll;
            height: calc(100% - 58px);
        }

        &__overlay {
            display: block;
            position: fixed;
            background-color: #000;
            opacity: 0;
            pointer-events: none;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            transition: opacity .2s;
            z-index: 100;

            &.filters-open {
                pointer-events: initial;
                opacity: .4;
            }
        }

        p {
            padding: $base-pm * 2 0;
            background-color: $pt-content-card-header-background;
            text-align: center;
            color: $pt-content-card-background;
        }
    }

    .pt-content-card__about-container {
        overflow: auto;
    }

    .pt-content-card__body__about {
        display: block;

        &__presentation { padding-top: $base-pm * 6; }
    }
}

@media (max-width: 600px) {
    .pt-content-card__body {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .pt-content-card__body__work-items {
        flex-direction: row;
        padding: 0;
    }

    .pt-content-card__body__work-items__item {
        height: auto;
        flex-direction: column;
        max-width: none;
        border-radius: 0;

        &:first-child { margin-top: $base-pm * 2; }
    }

    .pt-content-card__body__work-items__item__image { max-width: 100px; }

    .pt-content-card__body__work-items__item__buttons {
        flex-direction: row;

        a { padding: $base-pm * 2; }
    }

    .pt-content-card__body__work-items__item__data__tags { display: none; }

    .pt-content-card__body__icons__icon {
        width: 72px;
        margin-top: $base-pm * 3;
    }
}

@media (max-height: 650px) {
    .pt-content-card { max-width: none; }
}

@media (max-height: 530px) {
    .pt-content-card__home-container--home { height: auto; }
}

@media only screen and (max-width: 480px) {
    .toastify {
        width: 100vw;
        padding: 0;
    }

    .toastify--bottom-left {
        left: 0;
        bottom: 0;
        margin: 0;

    }

    .toastify-content {
        margin-bottom: 0;
        border-radius: 0;
    }
}

@media (max-height: 400px) {
    .pt-content-card__body__work-items { display: block; }

    #pt-app {
        min-height: 100%;
        height: auto;
    }
}

@media (max-height: 470px) {
    .pt-content-card__body__work-items { flex-wrap: nowrap; }
}
