&__work-filters {
    height: 100%;
    flex: .3;
    background-color: #fff;

    p {
        font-size: 1.2em;
        font-weight: 400;
        padding:  calc(var(--base-pm) * 4) calc(var(--base-pm) * 4) 0 calc(var(--base-pm) * 4);
    }

    button {
        display: none;
    }

    &__list {
        padding: 0 calc(var(--base-pm) * 4);
    }

    &__overlay {
        display: none;
    }
}
