&__work-filters {
    height: 100%;
    flex: .3;
    padding: calc(var(--base-pm) * 4) calc(var(--base-pm) * 4) 0 calc(var(--base-pm) * 4);
    background-color: #fff;

    p {
        font-size: 1.2em;
        font-weight: 400;
    }
}
