&__contact {
    &__social {
        min-height: 100%;
        flex: .6;
        background-color: #fff;
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 200px;

        a {
            margin: $base-pm * 2 0;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    @include transition_come-in($i);
                }
            }
        }

        &__item {
            padding: $base-pm $base-pm * 2;
            min-width: 200px;
            background-color: darken(#fff, 5%);
            text-align: center;

            svg { width: 22px; }
        }
    }

    &__form {
        flex: 2;
        height: 100%;
        width: 100%;
        align-self: center;
        animation: fadeIn;
        animation-duration: .4s;
        animation-delay: .1s;
        animation-fill-mode: both;
        opacity: 1;

        form {
            padding: $base-pm * 4;
            width: 100%;
        }

        &__send-button {
            background-color: #303a45;
            padding: $base-pm $base-pm * 2;
            border-radius: 4px;
            color: #f1f1f1;
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 300;
            align-self: flex-start;
            min-width: 150px;

            svg { width: 17px; }

            &[disabled] {
                background-color: #b0bec5;
                cursor: not-allowed;
                color: #fff;
            }
        }

        &__row {
            position: relative;
            margin: $base-pm * 2 0;
            max-width: 700px;
            width: 100%;

            label {
                width: 100%;
                max-width: 20em;
                position: absolute;
                top: 8px;
                cursor: text;
                transition: top .2s, transform .2s, color .2s;
            }

            input, textarea {
                flex-grow: 1;
                display: block;
                margin: 0;
                border: none;
                padding: .5em 0;
                line-height: 1;
                outline: none;
                background-color: transparent;
                width: 100%;
                font-size: .95em;
            }

            textarea {
                resize: vertical;
                height: auto;
                max-height: 250px;
            }

            .line {
                width: 100%;
                height: 2px;
                stroke: $input-color;
                stroke-width: 2px;
            }

            .line .focus,
            .line .valid,
            .line .error {
                transition: all 0.25s;
                stroke-dasharray: 0, 20;
                stroke-dashoffset: -20;
            }

            .line .focus { stroke: $input-color-focus; }

            .line .valid,
            .validation.valid {
                stroke: $input-color-valid;
                color: $input-color-valid;
            }

            .line .error,
            .validation.error {
                stroke: $input-color-error;
                color: $input-color-error;
            }

            input:focus ~ .line .focus,
            input.valid ~ .line .valid,
            input.error ~ .line .error,
            textarea:focus ~ .line .focus,
            textarea.valid ~ .line .valid,
            textarea.error ~ .line .error {
                stroke-dasharray: 40, 0;
                stroke-dashoffset: 0;
            }

            input:focus~label,
            textarea:focus~label,
            label.has-content {
                top: -16px;
                transform: scale(0.8) translateX(-40px);
                color: $input-color;
            }
        }
    }
}
