&__header--nav {
    height: 64px;
    padding: 0 $base-pm * 2;
    box-shadow: 0 3px 12px rgba(0,0,0,0.16), 0 3px 12px rgba(0,0,0,0.23);
    z-index: 100;

    &__icon {
        background-color: transparentize(#fff, .9);
        border-radius: $base-br;

        svg { width: 30px; }
    }

    button { display: none; }

    &__title {
        flex: 2;

        svg {
            width: 32px;
            margin-right: $base-pm;
        }

        h2 {
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}
