body {
    // This is already declared in reset but we need it here too in case we show the loader before we load the base styles.
    margin: 0;
}

.view-loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes spinner-rotate {
    0% { transform:rotate(0deg); }
    100% { transform:rotate(270deg); }
}

@keyframes spinner-dash {
    0% { stroke-dashoffset:88px; }
    50% {
        stroke-dashoffset:22px;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset:88px;
        transform: rotate(450deg);
    }
}

.spinner { transform: translate(0, 0); }

.spinner > svg {
    animation: spinner-rotate 1.4s linear infinite;
    width: auto;
}

.spinner circle {
    stroke-dasharray: 88px;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: spinner-dash 1.4s ease-in-out infinite;
    stroke-width: 1;
    stroke-linecap: round;
    stroke: #f1f1f1;
}
