&__body {
    flex: 1;
    background-color: var(--pt-content-card-background);

    &__icons {
        flex: 3;
        color: #263238;

        p {
            text-transform: uppercase;
        }

        svg {
            width: 100px;
        }
    }

    &__social-icons {
        flex: 1;

        &__icon {
            
            color: #263238;

            svg {
                width: 28px;
            }

            &:not(:last-child) {
                margin-right: calc(var(--base-pm) * 2);
            }
        }
    }
}